---
import { stack } from "../stack";
import {skill} from '../skill'
---
<div class="w-[100%] flex flex-col justify-center items-center" id="about">
    <div class="mine pb-20 px-10 bg-white text-black flex flex-col justify-center">
    <img class="me bg-white rounded-full w-56 my-10 mx-auto" src="/og/logo.jpg" alt="">
    <h1>About me</h1>
    <p class="w-[100%] text-center">Hello , My name is Paradorn Lungchoy. love to sleep all day all night i can sleep 24hours a day 😴 cuz sleep is my techical skill i belive in candy snack and food religion 😋. Nikola Tesla is my Idol⚡. I think Rxseboy is the best singer 🎶.</p>
    </div>
    <div class="stack mt-10 py-10  flex flex-wrap px-5 justify-center">
        <div class="logo bg-secondary font-bold">Dev tech stack</div>
        {stack && stack.map((stack)=>(
            <div class="w-[80px] opacity-100 h-[100px] my-5 mx-3">
                <img src={stack.logo} class="h-[60px] w-auto mx-auto" alt="">
                <h2 class="font-bold mx-auto w-[100%] text-center mt-5">{stack.name}</h2>
            </div>
        ))} 
    </div>
    <div class="stack mt-10 py-10  flex flex-wrap px-5 justify-center" id="open">
        <div class="logo bg-secondary font-bold">Other skill</div>
        {skill && skill.map((stack)=>(
            <div class="w-[80px] opacity-100 h-[100px] my-5 mx-3">
                <img src={stack.logo} class="h-[60px] w-auto mx-auto" alt="">
                <h2 class="font-bold mx-auto w-[100%] text-center mt-5">{stack.name}</h2>
            </div>
        ))}
    </div>
</div>

<style lang="scss">
    .mine{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .me{
        border: 2px solid white;
    }
    .stack{
        width: 100%;
        min-height: 160px;
        border: 1px solid var(--color-line);
        position: relative;
        .logo{
            position: absolute;
            top: -15px;
            border: 1px solid var(--color-line);
            width: fit-content;
            height: 30px;
            padding: 0 30px;
            left: 15px;
            border-radius: 15px;
        }
        img{
            opacity: 1 !important;
            filter: none !important;
        }
    }
</style>